[submodule "bundle/nerdtree"]
	path = pack/bundles/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	ignore = untracked
[submodule "bundle/vim-multiple-cursors"]
	path = pack/bundles/start/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
	ignore = untracked
[submodule "bundle/vim-autotag"]
	path = bundle/vim-autotag
	url = https://github.com/craigemery/vim-autotag.git
	ignore = untracked
[submodule "bundle/vim-wordy"]
	path = pack/bundles/start/vim-wordy
	url = https://github.com/reedes/vim-wordy.git
	ignore = untracked
[submodule "bundle/wordCount.vim"]
	path = pack/bundles/start/wordCount.vim
	url = https://github.com/ChesleyTan/wordCount.vim
	ignore = untracked
[submodule "bundle/vim-table-mode"]
	path = pack/bundles/start/vim-table-mode
	url = https://github.com/dhruvasagar/vim-table-mode.git
	ignore = untracked
[submodule "bundle/vim-autoswap"]
	path = pack/bundles/start/vim-autoswap
	url = https://github.com/gioele/vim-autoswap.git
	ignore = untracked
[submodule "bundle/vim-hilinktrace"]
	path = pack/bundles/start/vim-hilinktrace
	url = https://github.com/gerw/vim-hilinktrace
	ignore = untracked
[submodule "semantic-highlight.vim"]
	url = https://github.com/jaxbot/semantic-highlight.vim.git
[submodule "pack/bundles/start/semantic-highlight.vim"]
	path = pack/bundles/start/semantic-highlight.vim
	url = https://github.com/jaxbot/semantic-highlight.vim.git
[submodule "pack/bundles/start/trouble.nvim"]
	path = pack/bundles/start/trouble.nvim
	url = https://github.com/folke/trouble.nvim
