[submodule "bundle/vim-autotag"]
	path = bundle/vim-autotag
	url = https://github.com/craigemery/vim-autotag.git
	ignore = untracked
[submodule "semantic-highlight.vim"]
	url = https://github.com/jaxbot/semantic-highlight.vim.git
[submodule "pack/bundles/start/trouble.nvim"]
	path = pack/bundles/start/trouble.nvim
	url = https://github.com/folke/trouble.nvim
