[submodule "bundle/gitv"]
	path = pack/bundles/start/gitv
	url = https://github.com/gregsexton/gitv.git
	ignore = untracked
[submodule "bundle/MatchTagAlways"]
	path = pack/bundles/start/MatchTagAlways
	url = https://github.com/Valloric/MatchTagAlways.git
	ignore = untracked
[submodule "bundle/nerdtree"]
	path = pack/bundles/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	ignore = untracked
[submodule "bundle/SingleCompile"]
	path = pack/bundles/start/SingleCompile
	url = https://github.com/xuhdev/SingleCompile.git
	ignore = untracked
[submodule "bundle/taglist.vim"]
	path = pack/bundles/start/taglist.vim
	url = https://github.com/gauravjuvekar/taglist.vim
	ignore = untracked
[submodule "bundle/vim-fugitive"]
	path = pack/bundles/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
	ignore = untracked
[submodule "bundle/vim-indent-guides"]
	path = pack/bundles/start/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
	ignore = untracked
[submodule "bundle/vim-multiple-cursors"]
	path = pack/bundles/start/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
	ignore = untracked
[submodule "bundle/vimproc.vim"]
	path = pack/bundles/start/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim
	ignore = untracked
[submodule "bundle/vim-repeat"]
	path = pack/bundles/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
	ignore = untracked
[submodule "bundle/xmledit"]
	path = pack/bundles/start/xmledit
	url = https://github.com/sukima/xmledit.git
	ignore = untracked
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts.git
	ignore = untracked
[submodule "bundle/securemodelines"]
	path = pack/bundles/start/securemodelines
	url = https://github.com/ciaranm/securemodelines.git
	ignore = untracked
[submodule "bundle/vim-abolish"]
	path = pack/bundles/start/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
	ignore = untracked
[submodule "bundle/vim-speeddating"]
	path = pack/bundles/start/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
	ignore = untracked
[submodule "bundle/vim-misc"]
	path = pack/bundles/start/vim-misc
	url = https://github.com/xolox/vim-misc.git
	ignore = untracked
[submodule "bundle/scons.vim"]
	path = pack/bundles/start/scons.vim
	url = https://github.com/vim-scripts/scons.vim.git
	ignore = untracked
[submodule "bundle/vim-autotag"]
	path = bundle/vim-autotag
	url = https://github.com/craigemery/vim-autotag.git
	ignore = untracked
[submodule "bundle/abudden-EasyColour"]
	path = pack/bundles/start/abudden-EasyColour
	url = https://github.com/gauravjuvekar/abudden-EasyColour
	ignore = untracked
[submodule "bundle/cmocka.vim"]
	path = pack/bundles/start/cmocka.vim
	url = https://github.com/DanSnow/cmocka.vim
	ignore = untracked
[submodule "bundle/vim-indent-object"]
	path = pack/bundles/start/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
	ignore = untracked
[submodule "bundle/argtextobj.vim"]
	path = pack/bundles/start/argtextobj.vim
	url = https://github.com/vim-scripts/argtextobj.vim.git
	ignore = untracked
[submodule "bundle/CamelCaseMotion"]
	path = pack/bundles/start/CamelCaseMotion
	url = https://github.com/bkad/CamelCaseMotion.git
	ignore = untracked
[submodule "bundle/vim-localvimrc"]
	path = pack/bundles/start/vim-localvimrc
	url = https://github.com/embear/vim-localvimrc
	ignore = untracked
[submodule "bundle/vim-wordy"]
	path = pack/bundles/start/vim-wordy
	url = https://github.com/reedes/vim-wordy.git
	ignore = untracked
[submodule "bundle/plantuml-syntax"]
	path = pack/bundles/start/plantuml-syntax
	url = https://github.com/aklt/plantuml-syntax.git
	ignore = untracked
[submodule "bundle/unite.vim"]
	path = pack/bundles/start/unite.vim
	url = https://github.com/Shougo/unite.vim.git
	ignore = untracked
[submodule "bundle/vim-codequery"]
	path = pack/bundles/start/vim-codequery
	url = https://github.com/devjoe/vim-codequery.git
	ignore = untracked
[submodule "bundle/ack.vim"]
	path = pack/bundles/start/ack.vim
	url = https://github.com/mileszs/ack.vim.git
	ignore = untracked
[submodule "bundle/codi.vim"]
	path = pack/bundles/start/codi.vim
	url = https://github.com/metakirby5/codi.vim.git
	ignore = untracked
[submodule "bundle/wordCount.vim"]
	path = pack/bundles/start/wordCount.vim
	url = https://github.com/ChesleyTan/wordCount.vim
	ignore = untracked
[submodule "bundle/vim-easymotion"]
	path = pack/bundles/start/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
	ignore = untracked
[submodule "bundle/vim-hugefile"]
	path = pack/bundles/start/vim-hugefile
	url = https://github.com/mhinz/vim-hugefile
	ignore = untracked
[submodule "bundle/gnuplot.vim"]
	path = pack/bundles/start/gnuplot.vim
	url = https://github.com/vim-scripts/gnuplot.vim
	ignore = untracked
[submodule "bundle/vimtex"]
	path = pack/bundles/start/vimtex
	url = https://github.com/lervag/vimtex
	ignore = untracked
[submodule "bundle/vim-table-mode"]
	path = pack/bundles/start/vim-table-mode
	url = https://github.com/dhruvasagar/vim-table-mode.git
	ignore = untracked
[submodule "bundle/vim-autoswap"]
	path = pack/bundles/start/vim-autoswap
	url = https://github.com/gioele/vim-autoswap.git
	ignore = untracked
[submodule "bundle/vim-llvm"]
	path = pack/bundles/start/vim-llvm
	url = https://github.com/rhysd/vim-llvm
	ignore = untracked
[submodule "bundle/vim-hilinktrace"]
	path = pack/bundles/start/vim-hilinktrace
	url = https://github.com/gerw/vim-hilinktrace
	ignore = untracked
[submodule "bundle/textutil.vim"]
	path = pack/bundles/start/textutil.vim
	url = https://github.com/vim-scripts/textutil.vim
	ignore = untracked
[submodule "bundle/vim-buffergator"]
	path = pack/bundles/start/vim-buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator
	ignore = untracked
[submodule "bundle/ctrlp.vim"]
	path = pack/bundles/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
	ignore = untracked
[submodule "bundle/vim-matchup"]
	path = pack/bundles/start/vim-matchup
	url = https://github.com/andymass/vim-matchup.git
	ignore = untracked
[submodule "bundle/vim-alias"]
	path = pack/bundles/start/vim-alias
	url = https://github.com/konfekt/vim-alias.git
	ignore = untracked
[submodule "vim-perforce"]
	path = pack/bundles/start/vim-perforce
	url = https://github.com/gauravjuvekar/vim-perforce.git
	ignore = untracked
[submodule "bundle/genutils"]
	path = pack/bundles/start/genutils
	url = https://github.com/vim-scripts/genutils.git
	ignore = untracked
[submodule "pack/bundles/start/file-line"]
	path = pack/bundles/start/file-line
	url = https://github.com/lervag/file-line.git
	ignore = untracked
[submodule "pack/bundles/start/cachedir.vim"]
	path = pack/bundles/start/cachedir.vim
	url = https://github.com/Neui/cachedir.vim.git
[submodule "semantic-highlight.vim"]
	url = https://github.com/jaxbot/semantic-highlight.vim.git
[submodule "pack/bundles/start/semantic-highlight.vim"]
	path = pack/bundles/start/semantic-highlight.vim
	url = https://github.com/jaxbot/semantic-highlight.vim.git
[submodule "pack/bundles/start/vim-isort"]
	path = pack/bundles/start/vim-isort
	url = https://github.com/fisadev/vim-isort
[submodule "pack/bundles/start/ansible-vim"]
	path = pack/bundles/start/ansible-vim
	url = https://github.com/pearofducks/ansible-vim
[submodule "pack/bundles/start/plantuml-previewer.vim"]
	path = pack/bundles/start/plantuml-previewer.vim
	url = https://github.com/weirongxu/plantuml-previewer.vim
[submodule "pack/bundles/start/open-browser.vim"]
	path = pack/bundles/start/open-browser.vim
	url = https://github.com/tyru/open-browser.vim.git
[submodule "pack/bundles/start/trouble.nvim"]
	path = pack/bundles/start/trouble.nvim
	url = https://github.com/folke/trouble.nvim
[submodule "pack/bundles/start/vim-better-whitespace"]
	path = pack/bundles/start/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
